body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
    padding: 40px;
}

.accordion {
    width: 90%;
    width: 500px;
}

.question {
    margin-bottom: 10px;
    border-radius: 10px;
    background: #021542;
}

.question input {
    display: none;
}

.question label {
    display: block;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    background: #021542;
    color: white;
    
}

.question label:hover {
    background: #011544;
}

.answer {
    max-height:0 ;
    overflow: hidden;
    background: #ffffff;
    color: black;
    padding: 0 15px;
    border: solid 2px #021542;
    transition: max-height 0.4s ease, padding 0.3s ease;}

.question input:checked ~ .answer {
    max-height: 150px;
    padding: 15px;
}